<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106495742348-lh0fi2dfcuav0ue5510bkjskp39ct49h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106495742348-lh0fi2dfcuav0ue5510bkjskp39ct49h</string>
	<key>API_KEY</key>
	<string>AIzaSyCD_juB0oNHLrbREMYio6tpeUYNgl6y2t8</string>
	<key>GCM_SENDER_ID</key>
	<string>106495742348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PlanYourMeal</string>
	<key>PROJECT_ID</key>
	<string>planyourmeal-c198d</string>
	<key>STORAGE_BUCKET</key>
	<string>planyourmeal-c198d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106495742348:ios:6ed235f61ea98e383386a9</string>
	<key>DATABASE_URL</key>
	<string>https://planyourmeal-c198d.firebaseio.com</string>
</dict>
</plist>